{
  "openapi": "3.0.3",
  "info": {
    "title": "Botilito Audio API - Documentación en Español",
    "description": "API de análisis de audio forense con procesamiento asíncrono. Permite la extracción de características, clasificación, segmentación y detección de manipulación (Deepfakes/Edición).",
    "version": "1.0.0",
    "contact": {
      "name": "Soporte Técnico",
      "email": "soporte@botilito.dev"
    }
  },
  "servers": [
    {
      "url": "https://botilito.lordalexand.dev/audioanalysis/",
      "description": "Servidor de Producción (HTTPS)"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Clave de API necesaria para autenticar las peticiones."
      }
    },
    "schemas": {
      "JobSubmitResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid",
            "description": "Identificador único del trabajo creado.",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "description": "Estado inicial del trabajo.",
            "example": "queued"
          },
          "message": {
            "type": "string",
            "description": "Mensaje de confirmación.",
            "example": "Trabajo en cola para procesamiento."
          }
        }
      },
      "JobStatusResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "processing",
              "completed",
              "failed",
              "cancelled"
            ],
            "description": "Estado actual del procesamiento. (Nota: Los valores internos se mantienen en inglés).",
            "example": "processing"
          },
          "progress": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Porcentaje de avance del análisis.",
            "example": 45
          },
          "current_task": {
            "type": "string",
            "description": "Tarea específica que se está ejecutando en este momento.",
            "example": "Ejecutando análisis espectral (features)..."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2025-05-20T10:00:00Z"
          }
        }
      },
      "AnalyzerResult": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "object",
            "description": "Resumen ejecutivo de los hallazgos del analizador.",
            "example": {
              "score": 0.98,
              "verdict": "synthetic_audio_detected"
            }
          },
          "report_url": {
            "type": "string",
            "format": "uri",
            "description": "URL para descargar el reporte HTML detallado.",
            "example": "https://cdn.botilito.dev/reports/550e8400.html"
          },
          "data_url": {
            "type": "string",
            "format": "uri",
            "description": "URL para descargar los datos crudos en JSON.",
            "example": "https://cdn.botilito.dev/data/550e8400.json"
          }
        }
      },
      "JobResultsResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "example": "completed"
          },
          "duration_seconds": {
            "type": "number",
            "description": "Duración del archivo de audio en segundos.",
            "example": 124.5
          },
          "results": {
            "type": "object",
            "properties": {
              "forensics": {
                "$ref": "#/components/schemas/AnalyzerResult"
              },
              "classify": {
                "$ref": "#/components/schemas/AnalyzerResult"
              }
            },
            "description": "Objeto contenedor con los resultados de cada analizador solicitado."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "example": "El archivo subido no es un formato de audio válido."
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Sistema"
        ],
        "summary": "Verificación de Salud",
        "description": "Comprueba si la API está operativa.",
        "security": [],
        "responses": {
          "200": {
            "description": "Servidor funcionando correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "status": "ok",
                    "version": "1.0.0"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/analyze": {
      "post": {
        "tags": [
          "Análisis"
        ],
        "summary": "Enviar Audio para Análisis",
        "description": "Sube un archivo de audio para iniciar un trabajo de análisis asíncrono. Debes especificar qué analizadores ejecutar.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "El archivo de audio a analizar (WAV, MP3, OGG, M4A)."
                  },
                  "analyzers": {
                    "type": "string",
                    "description": "Lista separada por comas de los analizadores a ejecutar.\n\n**Opciones:**\n- `features`: Extrae características espectrales (MFCC, Chroma).\n- `classify`: Clasifica el tipo de audio (Voz, Música, Ruido).\n- `segment`: Detecta cambios de hablante (Diarización).\n- `forensics`: Detecta Deepfakes y manipulación.",
                    "example": "forensics,classify"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trabajo aceptado y en cola.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud incorrecta (archivo faltante o inválido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/status/{job_id}": {
      "get": {
        "tags": [
          "Estado"
        ],
        "summary": "Consultar Estado del Trabajo",
        "description": "Devuelve el progreso actual del análisis. Útil para hacer polling (consultas periódicas) hasta que el trabajo termine.",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "description": "ID del trabajo devuelto por el endpoint /analyze.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estado actual del trabajo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "404": {
            "description": "Trabajo no encontrado."
          }
        }
      }
    },
    "/api/v1/results/{job_id}": {
      "get": {
        "tags": [
          "Resultados"
        ],
        "summary": "Obtener Resultados Finales",
        "description": "Recupera los resultados detallados una vez que el estado del trabajo es 'completed'. Devuelve URLs a reportes y datos JSON crudos.",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "description": "ID del trabajo completado.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resultados del análisis exitoso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResultsResponse"
                }
              }
            }
          },
          "202": {
            "description": "El trabajo aún se está procesando (intente más tarde)."
          },
          "404": {
            "description": "Trabajo no encontrado."
          }
        }
      }
    },
    "/api/v1/jobs": {
      "get": {
        "tags": [
          "Gestión"
        ],
        "summary": "Listar Historial de Trabajos",
        "description": "Obtiene una lista paginada de los trabajos de análisis realizados con la API Key actual.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filtrar por estado (ej: completed, failed).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número de página.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Resultados por página.",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de trabajos.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "jobs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/JobStatusResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/jobs/{job_id}": {
      "delete": {
        "tags": [
          "Gestión"
        ],
        "summary": "Eliminar Trabajo",
        "description": "Elimina el registro de un trabajo y sus archivos asociados del servidor. Puede usarse para cancelar trabajos en cola o limpiar el historial.",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trabajo eliminado correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "message": "Trabajo y archivos eliminados."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Trabajo no encontrado."
          }
        }
      }
    }
  }
}

