{
  "openapi": "3.0.3",
  "info": {
    "title": "Image Forgery Detection API",
    "description": "This API provides advanced forensic analysis to detect digital manipulations in images and videos. It uses a combination of Error Level Analysis (ELA), Noise Analysis, and SLIC segmentation.\n\n### \ud83d\ude80 Asynchronous Architecture\nDue to the CPU-intensive nature of forensic algorithms, this API operates asynchronously:\n1. **Submit** a file via `POST /submit`. You will receive a `job_id` immediately.\n2. **Poll** the status via `GET /status/{job_id}` until the status is `completed`.\n\n### \ud83d\udcca Features\n* **Multi-Algorithm detection:** Combines multiple forensic techniques for higher accuracy.\n* **Video Support:** Automatically extracts and analyzes keyframes from video files.\n* **Metadata Extraction:** Returns detailed technical metadata (EXIF, Codecs, Bitrate) alongside forensic results.",
    "version": "2.3.0",
    "contact": {
      "name": "API Support Team",
      "email": "support@example.com",
      "url": "https://botilito.lordalexand.dev"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://example.com/license"
    }
  },
  "servers": [
    {
      "url": "https://botilito.lordalexand.dev/imageanalysis",
      "description": "Production Server (GPU Accelerated)"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local Development Server"
    }
  ],
  "tags": [
    {
      "name": "Jobs",
      "description": "Operations related to submitting and tracking analysis jobs."
    }
  ],
  "paths": {
    "/submit": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Submit a file for forensic analysis",
        "description": "Initiates a new background job to analyze an image or video file. \n\n**How it works:**\nThis endpoint accepts a file upload, generates a unique UUID (`job_id`), places the analysis task into an in-memory queue, and returns immediately. This prevents HTTP timeouts during long processing times.",
        "operationId": "submitJob",
        "requestBody": {
          "description": "The binary file to be analyzed. Supports common image formats (JPG, PNG) and video formats (MP4, AVI, MKV).",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The image or video file. \n* **Max Size:** 10MB (recommended)\n* **Supported Images:** JPEG, PNG, WEBP\n* **Supported Videos:** MP4, AVI, MOV, MKV"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job successfully queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                },
                "example": {
                  "job_id": "550e8400-e29b-41d4-a716-446655440000",
                  "status": "queued",
                  "message": "Job submitted successfully"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. usually caused by a missing file or empty payload.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "No file sent"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error. The server could not process the upload instructions (e.g., file too large for server config).",
            "content": {
              "application/json": {
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "body",
                        "file"
                      ],
                      "msg": "field required",
                      "type": "value_error.missing"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/status/{job_id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Retrieve job status and results",
        "description": "Checks the current state of a specific analysis job. Clients should poll this endpoint periodically (e.g., every 2 seconds) until the status changes to `completed` or `failed`.\n\n**Return Value:**\n* If `status` is **completed**, the response includes a `result` object containing verdicts, scores, and base64 heatmaps.\n* If `status` is **failed**, the response includes an `error` message explaining what went wrong.",
        "operationId": "getJobStatus",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "The UUID returned by the `/submit` endpoint.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current status of the job. The structure of the response depends on the `status` field.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/JobStatusQueued"
                    },
                    {
                      "$ref": "#/components/schemas/JobStatusCompleted"
                    },
                    {
                      "$ref": "#/components/schemas/JobStatusFailed"
                    }
                  ]
                },
                "examples": {
                  "Processing": {
                    "summary": "Job is still running",
                    "value": {
                      "job_id": "550e8400-e29b-41d4-a716-446655440000",
                      "status": "processing"
                    }
                  },
                  "Completed (Image)": {
                    "summary": "Successful Image Analysis",
                    "value": {
                      "job_id": "550e8400-e29b-41d4-a716-446655440000",
                      "status": "completed",
                      "result": [
                        {
                          "metadata": {
                            "filename": "proof.jpg",
                            "size_bytes": 102400,
                            "width": 1920,
                            "height": 1080,
                            "exif": {
                              "Model": "iPhone 14 Pro",
                              "Software": "16.0.2"
                            }
                          },
                          "summary": {
                            "verdict": "TAMPERED",
                            "score": 0.89,
                            "heatmap": "data:image/jpeg;base64,/9j/4AAQSk...",
                            "tampered_region": "data:image/jpeg;base64,/9j/4AAQSk..."
                          },
                          "algorithms": [
                            {
                              "name": "ela",
                              "score": 0.92,
                              "heatmap": "data:image/jpeg;base64/..."
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "Failed": {
                    "summary": "Job Failed",
                    "value": {
                      "job_id": "550e8400-e29b-41d4-a716-446655440000",
                      "status": "failed",
                      "error": "Corrupt file header: unable to decode image."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Job Not Found. The ID is invalid or the job has been purged from memory.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Job not found"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SubmitResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for tracking the analysis.",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "status": {
            "type": "string",
            "description": "Initial status of the job.",
            "example": "queued"
          },
          "message": {
            "type": "string",
            "description": "Human-readable confirmation.",
            "example": "Job submitted successfully"
          }
        },
        "required": [
          "job_id",
          "status"
        ]
      },
      "JobStatusQueued": {
        "title": "Status: Queued/Processing",
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "processing"
            ],
            "description": "Current state. 'queued' means waiting for a worker; 'processing' means algorithms are running."
          }
        },
        "required": [
          "job_id",
          "status"
        ]
      },
      "JobStatusFailed": {
        "title": "Status: Failed",
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "failed"
            ]
          },
          "error": {
            "type": "string",
            "description": "Detailed error message explaining the failure.",
            "example": "Input file is not a valid image or video."
          }
        },
        "required": [
          "job_id",
          "status",
          "error"
        ]
      },
      "JobStatusCompleted": {
        "title": "Status: Completed",
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed"
            ]
          },
          "result": {
            "type": "object",
            "properties": {
              "meta": {
                "type": "object",
                "properties": {
                  "analyzed_at": {
                    "type": "string"
                  },
                  "file_info": {
                    "$ref": "#/components/schemas/FileMetadata"
                  }
                }
              },
              "summary": {
                "$ref": "#/components/schemas/AnalysisSummary"
              },
              "details": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AnalysisResultItem"
                }
              }
            }
          }
        },
        "required": [
          "job_id",
          "status",
          "result"
        ]
      },
      "AnalysisResultItem": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/FileMetadata"
          },
          "summary": {
            "$ref": "#/components/schemas/AnalysisSummary"
          },
          "algorithms": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "score": {
                  "type": "number"
                },
                "heatmap": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "AnalysisSummary": {
        "type": "object",
        "properties": {
          "verdict": {
            "type": "string"
          },
          "score": {
            "type": "number"
          },
          "global_verdict": {
            "type": "string"
          }
        }
      },
      "FileMetadata": {
        "type": "object",
        "description": "Technical details extracted from the file headers.",
        "properties": {
          "filename": {
            "type": "string",
            "example": "evidence.jpg"
          },
          "size_bytes": {
            "type": "integer",
            "example": 2048500
          },
          "width": {
            "type": "integer",
            "example": 1920
          },
          "height": {
            "type": "integer",
            "example": 1080
          },
          "format": {
            "type": "string",
            "description": "File format (JPEG, PNG, etc.)",
            "example": "JPEG"
          },
          "exif": {
            "type": "object",
            "description": "Key-value pairs of EXIF data (Camera Model, GPS, Software, Date).",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "Make": "Apple",
              "Model": "iPhone 13",
              "DateTime": "2023:10:05 14:30:00"
            }
          },
          "codec": {
            "type": "string",
            "description": "Video codec (Video only).",
            "example": "h264"
          },
          "duration_sec": {
            "type": "number",
            "description": "Length of video in seconds (Video only).",
            "example": 12.5
          },
          "fps": {
            "type": "string",
            "description": "Frames per second (Video only).",
            "example": "30/1"
          }
        }
      }
    }
  }
}